.ut_popup
  min-width: 150px
/* Header */
.ut_popup .ut_popup__header
  display: flex
  align-items: center
  justify-content: center
  padding: 0 0 10px
.ut_popup .ut_popup__header__title
  margin-left: 5px
  font-size: 15px
  font-weight: 700

/* Content */
.ut_popup .ut_popup__content

.ut_option__row
  position: relative
  display: block
  overflow: hidden
.ut_option__row input[type="checkbox"]
  position: absolute
  left: -100px
  cursor: pointer
.ut_option__row input[type="checkbox"]:checked + .ut_option__row__box
  background: rgb(0, 112, 0)
  border-color: rgb(0, 112, 0)
  color: white
.ut_option__row input[type="checkbox"]:checked + .ut_option__row__box .ut_option__row__icn svg path
  fill: white
.ut_option__row .ut_option__row__box
  display: flex
  align-items: center
  justify-content: center
  padding: 2px 5px
  background: #eee
  border: 1px solid #ddd
  border-radius: 5px
  cursor: pointer
  font-size: 11px
  text-transform: uppercase
  letter-spacing: 0.5px
  user-select: none
.ut_option__row .ut_option__row__icn
  flex: 1 0 auto
  margin: 0 5px 0 0
  width: 16px
.ut_option__row .ut_option__row__text
  flex: 1 0 auto
  padding: 5px 10px 5px 0
.ut_option__row.centered .ut_option__row__icn
  flex: 1 1 auto
.ut_option__row.centered .ut_option__row__text
  flex: 1 1 auto